body{
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "beats1 amazon1 apple1 adidas1"
    "adidas2 apple2 amazon2 beats2"
}
#beats1{
    grid-area: beats1;
    align-self: center;
    
}
#beats2{
    grid-area: beats2;
    align-self: center;

}
#amazon1 {
    grid-area: amazon1;
    align-self: center;
}
#amazon2 {
    grid-area: amazon2;    
    align-self: center;

}
#apple1 {
    grid-area: apple1;
    align-self: center;
}
#apple2 {
    grid-area: apple2;
    align-self: center;
}
#adidas1{
    grid-area: adidas1;
    align-self: center;
}
#adidas2 {
    grid-area: adidas2;
    align-self: center;
}
